*{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    box-sizing: border-box;
}
:root{
    --header: rgb(0, 0, 0);
    --fundo: rgb(113, 41, 228);
    --text: rgb(255, 255, 255);
    --sub-header: gray;
    --span: rgb(113, 41, 228);
    --footer: rgb(44, 44, 44);
}
/* Tema Claro */
.light-theme{
    --header:  rgb(0, 0, 0);
    --fundo:   rgb(0, 0, 0);
    --text:  rgb(113, 41, 228);
    --sub-header: gray;
    --span: white;
}
body {
    width: 100%;
    font-family: Arial, sans-serif;
    background: var(--fundo);
    overflow-x: hidden;
}
header {
    background: var(--header);
    color: var(--text);
    width: 100%;
    height: 5rem;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 200;
}
span{
    color: var(--span);
    border-bottom: 1px red;
}
i{
    cursor: pointer;
    font-size: 18px;
    overflow-y: hidden;
    color: var(--text);
}
i:hover{
    color: var(--fundo);
}
header p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25pt;
    text-shadow: 0px 0px 10px var(--span),
                0px 0px 20px var(--span),
                0px 0px 40px var(--span),
                0px 0px 80px var(--span);
}
span{
    color: var(--span);
    border-bottom: 1px red;
}
#temaClaro, #temaEscuro{
    position: absolute;
    text-align: center;
    top: 61px;
    left: 20px;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
}
#temaClaro{
    display: block;
    color: var(--span);
    border: 1px solid var(--text);
}
#temaEscuro{
    display: none;
    color: var(--fundo);
    border: 1px solid var(--text);
}
#temaEscuro:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 20px 1.5px var(--fundo);
}
#temaClaro:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 20px 1.5px var(--span);
}
#mudar_tema:first-child:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 20px 1.5px var(--text);
}
.sub-menu{
    background-color: var(--sub-header);
    margin-top: 14px;
    width: auto;
    height: 2rem;
    line-height: 2.1rem;
}
.sub-menu ul{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    right: 40px;
}
#pesquisar{
    display: none;
    position: absolute;
    align-items: center;
    top: 2px;
    right: 140px;
    width: 10rem;
    height: 1.5rem;
    padding: 10px;
    background-color: var(--text);
    color: var(--fundo);
    border-color: var(--fundo);
}
#pesquisar:hover{
    border-color: var(--span);
    opacity: 100%;
}
ul #perfil-infos{
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 0;
    color: black;
    left: 74%;
}
ul #perfil-infos li:hover{
    background-color: var(--fundo);
    color: var(--text);
}
#perfil-infos li{
    z-index: 2;
    border: 1px solid black;
    user-select: none;
    cursor: pointer;
    background-color: var(--text);
    width: 60px;
    height: 30px;
}

iframe{
    margin: 40px;
    width: 50rem;
    height: 30rem;
}