*{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}
:root{
    --fundo: rgb(113, 41, 228);
    --header: rgb(0, 0, 0);
    --text: rgb(255, 255, 255);
    --sub-header: gray;
}
body {
    font-family: Arial, sans-serif;
    background: var(--fundo);
}
header {
    background: var(--header);
    color: var(--text);
    width: 100%;
    height: 5rem;
    text-align: center;
}
.sub-menu{
    position: relative;
    background-color: var(--sub-header);
    margin-top: 36px;
    width: auto;
    height: 2rem;
    line-height: 2rem;
}
.sub-menu ul{
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    right: 40px;
    color: rgb(113, 41, 228);
}
i{
    cursor: pointer;
    font-size: 18px;
    color: var(--text);
}
#perfil-infos{
    /* display: none;    */
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: white;
    width: 60px;
    height: 66px;
    color: black;
    left: 74%;
}
#perfil-infos li{
    border: 1px solid black;
    user-select: none;
    cursor: pointer;
}
header p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25pt;
}
span{
    color: var(--fundo);
    border-bottom: 1px red;
}
#container-donghua{
    text-align: center;
    line-height: 32.2rem;
    margin-top: 60px;
    margin-left: 40px;
    background-color: rgb(66, 66, 66);
    width: 70rem;
    height: 50rem;
    border: 2px solid var(--sub-header);
}
#img-donghua-fundo img{
    width: 69rem;
    height: 16rem;
}
.img-donghuar{
    position: absolute;
    top: 20rem;
    left: 5rem;
    border: 2px solid black;
    background-color: gray;
    width: 12rem;
    height: 15rem;
    line-height: 28rem;
}
img{
    object-fit: cover;
    width: 11rem;
    height: 14rem;
}
#infos{
    position: absolute;
    top: 450px;
    left: 300px;
    background-color: white;
    width: 40rem;
    height: 20rem;
}
h3{
    position: relative;
    bottom: 200px;
}
#infos ul{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
    top: 0;
    height: 2rem;
}
@media (max-width: 700px) {
    #perfil-infos{
        left: 92%;
    }
    #container-donghua{
        line-height: 32.2rem;
        margin: 10px;
        width: 40rem;
        height: 40rem;
    }
    #img-donghua-fundo img{
        width: 40rem;
        height: 9.27rem;
    }
    .img-donghuar{
        position: absolute;
        top: 20rem;
        left: 5rem;
        border: 2px solid black;
        background-color: gray;
        width: 12rem;
        height: 15rem;
        line-height: 28rem;
    }
    img{
        object-fit: cover;
        width: 11rem;
        height: 14rem;
    }
    .infos{
        position: absolute;
        top: 450px;
        left: 300px;
        background-color: white;
        width: 40rem;
        height: 20rem;
    }
    .infos p{
        color: red;
        text-align: center;
    }
}